@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mega Desks</h1>
    <h4>Order your perfect Desk today!</h4>

    <img src="/imgs/DeskPicture.jpg" alt="Picture of a Desk." class="img">
</div>
